{% extends 'app/dashboard.html' %}

{% load static %}

{% block content%}
<main>
    <div class="container">
        <div class="create">
            <div class="create__head">
                <div class="create__title">
                    <!-- <img src="{% static 'img/add-icon.png' %}" alt="New topic"> -->
                    Add new response for " {{statement.statement}} "
                </div>
                <a href="#" class="create__btn-cansel btn">About PS</a>
            </div>
            <form action="" method="POST">
            {% csrf_token %}
            <div class="create__section">
                <label class="create__label" for="title">New Response</label>
                <!-- <input type="text" class="form-control" name="answer" id="answer" placeholder="Add here"> -->
                <textarea class="form-control" name="answer" id="answer" placeholder="Add here"></textarea>
            </div>
            <!-- <div class="create__section">
                <label class="create__label" for="tags">Add Tags</label>
                <input type="text" class="form-control" name="tags" id="tags" placeholder="e.g. nature, science">
            </div> -->
            <!-- <div class="create__advanced">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="create__section">
                            <label class="create__label">Who can see this?</label>
                            <div class="create__radio">
                                <label class="create__box">
                                    <label class="custom-radio">
                                        <input type="radio" name="can-see" checked="checked">
                                        <i></i>
                                    </label>
                                    <span>Everyone</span>
                                </label>
                                <label class="create__box">
                                    <label class="custom-radio">
                                        <input type="radio" name="can-see">
                                        <i></i>
                                    </label>
                                    <span>Only Friends</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="create__section">
                            <label class="create__label">Share on Social?</label>
                            <div class="create__radio">
                                <label class="create__box">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="share-social" checked="checked">
                                        <i></i>
                                    </label>
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </label>
                                <label class="create__box">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="share-social" checked="checked">
                                        <i></i>
                                    </label>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </label>
                                <label class="create__box">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="share-social">
                                        <i></i>
                                    </label>
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-5">
                        <div class="create__section">
                            <label class="create__label">Is this a Mature Thread?</label>
                            <div class="create__radio">
                                <label class="create__box">
                                    <label class="custom-radio">
                                        <input type="radio" name="mature-thread">
                                        <i></i>
                                    </label>
                                    <span>Yes</span>
                                </label>
                                <label class="create__box">
                                    <label class="custom-radio">
                                        <input type="radio" name="mature-thread" checked="checked">
                                        <i></i>
                                    </label>
                                    <span>No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="create__footer">
                <a href="{% url 'response' statement.id 1 %}" class="create__btn-cansel btn">Cancel</a>
                <input type="submit" value="Add Response" class="create__btn-create btn btn--type-02">
            </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}