{% extends 'base/dashboard.html' %} {% load static %} {% block content %}
<main>
  <div class="container">
    <ul class="nav nav-tabs mt-5">
      <li class="active">
        <a data-toggle="tab" href="#home">Team</a>
      </li>
      <li><a data-toggle="tab" href="#menu1">Personal</a></li>
    </ul>

    <div class="tab-content" >
      <div id="home" class="tab-pane fade in active" >
        <div class="create mt-2" style="min-height: 500px;">
          <div class="create__head mb-0 justify-content-between">
            <div class="create__title">Posted for Team Analysis</div>
            <div class="create__title nav pl-2" style="border: none;">
                {% include "app/filter_tabs.html" %}
          </div>
          </div>
          <div class="posts mx-4">
            <div class="posts__head">
              <div class="posts__topic">Problem statement</div>
              <div class="posts__category_p">Category</div>
              <div class="posts__replies_p">Replies</div>
              <div class="posts__activity_p">Status</div>
            </div>
            <div class="posts__body">
              {% for prblm in statements %}
              <div class="posts__item">
                <div class="posts__section-left">
                  <div class="posts__topic">
                    <div class="posts__content">
                      <a href="{% url 'response' prblm.id 1 %}">
                        <h3>{{prblm.statement}}</h3>
                      </a>
                      <div class="posts__tags tags">
                        {% for tag in prblm.tags.all %}
                        <a href="#" class="{{ tag.color }}">{{tag.name}}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="posts__category">
                    <a href="#" class="category"
                      ><i class="bg-368f8b"></i>
                      {{prblm.category.name}}
                    </a>
                  </div>
                </div>
                <div class="posts__section-right">
                  <div class="posts__replies_p">{{prblm.count}}</div>
                  <div class="posts__activity_p">
                    {{prblm.get_status_display}}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <div class="create mt-2" style="min-height: 500px;">
          <div class="create__head mb-0 justify-content-between">
            <div class="create__title">Posted for Self Analysis</div>
            <div class="create__title nav pl-2" style="border: none;">
              {% include 'app/filter_tabs.html' %}
          </div>
          </div>
            <div class="posts mx-4">
              <div class="posts__head">
                <div class="posts__topic">Problem statement</div>
                <div class="posts__category_p">Category</div>
                <div class="posts__replies_p">Replies</div>
                <div class="posts__activity_p">Status</div>
              </div>
              <div class="posts__body">
                {% for prblm in self_statements %}
                <div class="posts__item">
                  <div class="posts__section-left">
                    <div class="posts__topic">
                      <div class="posts__content">
                        <a href="{% url 'response' prblm.id 1 %}">
                          <h3>{{prblm.statement}}</h3>
                        </a>
                        <div class="posts__tags tags">
                          {% for tag in prblm.tags.all %}
                          <a href="#" class="{{ tag.color }}">{{tag.name}}</a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="posts__category">
                      <a href="#" class="category"
                        ><i class="bg-368f8b"></i>
                        {{prblm.category.name}}
                      </a>
                    </div>
                  </div>
                  <div class="posts__section-right">
                    <div class="posts__replies_p">{{prblm.count}}</div>
                    <div class="posts__activity_p">{{prblm.get_status_display}}</div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
