{% extends 'base/dashboard.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="create">
            <div class="create__head m-0" style="border-bottom: 0px;">
                <div class="create__title ">
                    PS : {{ statement.statement }}
                </div>
                <button type="button" class="create__btn-cansel btn" onclick="toggleInfo()">
                    About PS
                        <i class="fa fa-angle-down m-0 pl-2" onclick="toggleInfo()" aria-hidden="true"></i>
                </button>
            </div>
            <div style="border-bottom: solid 1px #e9ecee;">
                <div class="pb-4 mx-3" style="display: none;" id="info">
                    <div class="container pb-3" style="font-weight: 600;">
                        <p class="pt-3">Description : {{statement.description}}</p>
                        <div class="pt-3 row">
                            <div class="col border-right">
                                Created by : {{statement.createdBy}}
                            </div>
                            <div class="col border-right">
                                Category : {{statement.category.name}}
                            </div>
                            <div class="col">
                                Status : {{statement.get_status_display}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap py-2">
                {% for ans in answers %}
                <div class="d-inline-flex shadow-sm m-3 p-3 border bd-highlight">
                    <div class="d-inline-flex mr-3 pr-2 border-right">A{{ ans.a_number }}</div>{{ ans.answer }}
                </div>
                {% endfor %}
            </div>
            {% if answers.count is 0 %}
            <div class="m-4 p-4 rounded text-center" style="background-color: #dee2e6;">
                No opinions available
            </div>
            {% endif %}
            <div class="create__footer justify-content-end">
                <a href="{% url 'add_answer' statement.id %}" class="create__btn-create btn btn--type-02 shadow-sm ">Add new opinion</a>
            </div>
        </div>
        {% if answers.count != 0 %}
        {% block answers %}

        {% endblock %}
        {% endif %}
        
    </div>
</main>
{% endblock %}