html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

form > .btn{
  color: white;
  background-color: #021c35;
}
form > .btn:hover{
  background-color: white;
  color:  #021c35;
}
.navbar {
  background-color : #021c35;
}
html,body{
  margin:0;
  height: 100%;
}
main,
nav,
header{
  display:block;
}
.nav li{
  padding-right: 15px;
 }
.navbar-nav{
  font-size: medium;
}
.navbar-nav li,button{
  padding-right: 10px;
}
span {
  color: #55acee;
}
body {
  background: #fff;
  font-family: 'montserrat', sans-serif;
  color: #abafb6;
  font-weight: 300;
}

.main{
  height: 100%;
  font-size: 18px;
  line-height: 1.42857;
}
a {
  outline: none !important;
  color: #55acee;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active,
a:hover {
  outline: 0;
}
a:visited {
text-decoration: underline;
}
h1, h2, h3, h4, h5 {
  margin: 15px 0;
  color: #383838;
  font-weight: 400;
}
h1 {
  font-size: 24px;
  margin: 0.67em 0;
}
img {
  border: 0;
  max-width: 100% !important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}  
button,
html input[type="button"],
input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
.block {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.contentArea {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  position: relative;
  /* padding-left: 280px; */
}
.contentArea .contentAreaInner {
  padding: 60px 60px 30px;
}

@media (max-width: 650px) {
  /* line 21, ../sass/partials/_main.scss */
  .contentArea .contentAreaInner {
    padding: 0 20px 20px;
  }
}
.btn {
  padding: 5px 10px;
  background: #021c35;
  color: #fff;
  display: inline-block;
  text-decoration: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
.btn.btn-lg {
  padding: 15px 45px;
  font-size: 18px;
}
.btn:hover {
  background: #55acee;
  color: #fff;
}
.page-header.extra-top-pad {
  padding-top: 20px;
  margin-bottom: 20px;
}
.page-header.extra-top-pad.pad-long {
  padding-top: 80px;
}
@media (max-width: 650px) {
  .page-header.extra-top-pad {
    padding-top: 0 !important;
  }
}
.page-header h1 {
  font-size: 22px;
  color: #abafb6;
  text-transform: capitalize;
  font-weight: 700;
}
body.quickSectionActive .page-header h1 {
  font-size: 24px;
}
@media (max-width: 650px) {
  .page-header h1 {
    font-size: 24px;
  }
}
.page-header strong span {
  color: #55acee;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #55acee;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.graphics-div {
  height: 364px;
  padding-top: 128px;
  margin-top: -80px;
  margin-bottom: 30px;
  background: url("../img/graphics.836c87e541c2.png") center bottom repeat-x;
}
.no-pad-left {
  padding-left: 0 !important;
}
.no-pad-right {
  padding-right: 0 !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

